body {
    margin: 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 288px;
    height: 453px;
    padding-bottom: 40px;
    margin: 30px auto;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    background: #2a70e2;
    cursor: pointer;
    overflow: hidden;
}
.card__content {
    padding: 0 40px;
}
.card__title {
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.card__text {
    margin: 0;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}
.card__buttons {
    height: 300px;
    font-family: 'Montserrat', sans-serif;
    background: url("../icon.svg") no-repeat top center;
}
.card__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 162px;
    height: 162px;
    font-size: 140px;
    margin: 69px  auto 0;
    color: #fff;
    background: #2a70e2;
    border-radius: 50%;
}
.transition {
    transition: 3s;
}
.card:hover .card__buttons {
    transform: scale(1.1);
}
.card__button--hidden {
    display: none;
}
.green {
    background:  #81a809;
}
